<%- include partials/studenthead.ejs %>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#"><img class="user-img" src="/images/userimg.jpg" alt=""><%= data.name %></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link menu" id="<%= data.mess %>" href="#">MENU</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="view-orders" href="#">ORDERS</a>
                    </li>
                  </ul>
                  <span class="navbar-text">
                    BALANCE: <span class="balance-value"><%= data.balance %></span>
                  </span>
                </div>
              </nav>
    <div class="page-content h-100">
      <div class="d-flex-column">
        <div class="col-md-5">
          <div class="home-text">Its time for <i><span class="meal-time"><%= data.meal %></span></i></div>
          <div class="row no-gutters">
            <button class="btn btn-success ml-auto mr-auto order-button" id="<%= data.mess %>">ORDER</button>
          </div>
          <div class="col-md bg-color">

          </div>
        </div>
      </div>
      </div>
</body>
</html>